<h1>My bikes</h1>
<% @bikes.each do |bike| %>
  <li><%= bike.brand %></li>
  <%# <li>bike.model</li>
  <li>bike.details</li>
  <li>bike.category</li>
  <li>bike.wheel_size</li>
  <li>bike.price</li> %>
<% end %>
